get_prop(system_server, vendor_alarm_boot_prop)
allow system_server sysfs_vibrator:file read;
allow system_server sysfs_fingerprint:file rw_file_perms;
